@media (max-width: 1300px){

    #super-div{
        display: block;
        text-align: center;
    }
    #main-img{
        width: 45%;
    }
    #main-div{
        padding-top: 6%;
    }
}
@media (max-width: 940px){
    #main-img{
        width: 55%;
    }
}
@media (max-width: 420px){
    #main-div{
        font-size: unset;
        padding: 0;
    }
    #super-div{
        margin: 0;
    }
}