<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style-index.css}">
    <link rel="stylesheet" th:href="@{/css/responsive/commons-responsive.css}">
</head>
<body>
<header>
    <h1><a th:href="@{/}" id="site-heading">DocNote</a></h1>
    <a  th:href="@{/home}" sec:authorize="hasRole('USER')">
        <h3 class="nav-button">My patients</h3>
    </a>
    <a  th:href="@{/manage-website}" sec:authorize="hasRole('ADMIN')">
        <h3 class="nav-button">Manage website</h3>
    </a>

    <a></a>

    <nav id="site-navigation">

        <ul>
            <a sec:authorize="!isAuthenticated()" th:href="@{/user/login}">Login</a>
            <a sec:authorize="!isAuthenticated()" th:href="@{/user/register}">Register</a>
            <h2 sec:authorize="hasRole('ADMIN')">Admin </h2>
            <form id="logout-form" th:method="POST" th:action="@{/user/logout}">
                <input id="logout-button" sec:authorize="isAuthenticated()" type="submit" value="Logout">
            </form>
        </ul>
    </nav>
</header>
<footer>
    <div id="col-1">
        <h1>DocNote</h1>
    </div>
    <div id="col-3">
        <h2>Follow us on:</h2>
        <a><i class="fab fa-facebook-f"></i></a>
        <a><i class="fab fa-instagram"></i></a>
        <a><i class="fab fa-twitter"></i></a>
    </div>
    <div id="col-4">

        <h2 id="all-rights-reserved">
            <i class="far fa-copyright" style="color: #000000;"></i>
            2023 DocNote, All rights reserved.</h2>
    </div>


</footer>
</body>
</html>