<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style-index.css}">
</head>
<body>
<header th:replace="~{fragments/commons::header}"></header>
<footer>
    <div id="col-1">
        <h1>DocNote</h1>
    </div>
    <div id="col-3">
        <h2>Follow us on:</h2>
        <a><i class="fab fa-facebook-f"></i></a>
        <a><i class="fab fa-instagram"></i></a>
        <a><i class="fab fa-twitter"></i></a>
    </div>
    <div id="col-4">

        <h2>
            <i class="far fa-copyright" style="color: #000000;"></i>
            2023 DocNote, All rights reserved.</h2>
    </div>


</footer>
</body>
</html>