@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
main{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 50px;
}
#info{
    display: grid;
    background-color: aqua;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
}
img{
    width: 50%;
}

