<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
    
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <link rel="stylesheet" th:href="@{/css/style-index.css}">
              <link rel="preconnect" href="https://fonts.googleapis.com">
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
              <link rel="stylesheet" th:href="@{/css/style-register.css}">
              <link rel="stylesheet" th:href="@{/css/style-add-patient.css}">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
            <title>DocHero</title>
    </head>
        
<body>
<header th:replace="~{fragments/commons::header}"></header>
        <div id="super-register-div">


            <div id="main-register-div">
                <form th:method="POST" th:action="@{/patient/add}" th:object="${patientAddDTO}">
                    <h1>Add patient</h1>
                    <div id="info">
                    
                    <div>
                    
                    <label for="name">Name:</label>
                    <br>
                    <input th:name="firstName" th:field="*{firstName}" type = "text" id="name" placeholder="Enter patient's name">
                    <br>
                    <small th:if="${#fields.hasErrors('firstName')}">Enter a valid name</small>
                        <br>
                    <label for="surname">Surname:</label>
                    <br>
                    <input th:name="surname" th:field="*{surname}" type = "text" id="surname" placeholder="Enter patient's surname">
                        <small th:if="${#fields.hasErrors('surname')}">Enter a valid name</small>
                        <br>
                    <label  for="last-name">Last name:</label>
                    <br>
                    <input th:name="lastName" th:field="*{lastName}" type = "text" id="last-name" placeholder="Enter patient's last name">
                        <small th:if="${#fields.hasErrors('lastName')}">Enter a valid name</small>
                        <br>
                    <label for="phone">Egn:</label>
                    <br>
                    <input  th:name="egn" th:field="*{egn}" type = "text" id="phone" placeholder="Enter patient's egn here">
                        <br>
                        <small th:if="${#fields.hasErrors('egn')}">Enter a valid phone</small>
                        <br>
                    
                </div>
                    <div>
                        <label for="date">Birthday:</label>
                    <br>
                    <input th:name="birthday" th:field="*{birthday}" type = "date" id="date">
                        <small th:if="${#fields.hasErrors('birthday')}">Enter a valid birthdate</small>
                    <br>
                    <label for="height">Height:</label>
                    <br>
                    <input th:name="height" th:field="*{height}" type = "number" id="height" placeholder="Enter height (cm)">
                        <br>
                        <small th:if="${#fields.hasErrors('height')}">Enter a valid height</small>

                    <br>
                    <label for="weight">Weight:</label>
                    <br>
                    <input th:name="weight" th:field="*{weight}" type = "number" id="weight" placeholder="Enter weight (kg)">
                        <br>
                        <small th:if="${#fields.hasErrors('weight')}">Enter a valid height</small>
                        <br>
                    <label for="address">Address:</label>
                    <br>
                    <input th:name="address" th:field="*{address}" type="text" id="address" placeholder="Enter your address">
                        <small th:if="${#fields.hasErrors('address')}">Please enter an address</small>
                        <br>

                    </div>
                </div>
                    <button type="submit" id="register-button-form">Add patient to my list</button>
                </form>
            </div>
            <img class="register-img" th:src="@{/images/add-patient.png}" alt="Doctor waving">
        </div>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>