<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style-index.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style-add-document.css}">
    <link rel="stylesheet" th:href="@{/css/responsive/commons-responsive.css}">


    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <title>DocHero</title>
</head>
<body>
<header th:replace="~{fragments/commons::header}"></header>

<main>
    <div>
        <form id="document-form" th:method="POST" th:action="@{/document/add/{id}(id=${patient.id})}" th:object="${documentAddDTO}">
            <h1>Add sickness leave document</h1>
            <label for="date-start">Start date:</label>
            <input name="startDate" th:field="*{dateStart}" type="date" class="input-d" id="date-start">
            <label for="date-end">End date:</label>
            <input name="endDate" th:field="*{dateEnd}" type="date" class="input-d" id="date-end">
            <label for="first-name">First name:</label>
            <input th:name="employerFirstName" th:value="${patient.firstName}" type="text" class="input-d" id="first-name"  readonly>
            <label for="last-name">Last name:</label>
            <input th:name="employerLastName" th:value="${patient.lastName}" type="text" class="input-d" id="last-name"  readonly>
            <label for="reason">Reason:</label>
            <input name="reason" th:field="*{reason}" type="text" class="input-d" id="reason">
            <label for="company">Company:</label>
            <input name="companyName" th:field="*{companyName}" type="text"class="input-d"  id="company">
            <button type="submit" class="input-d" id="add-button">Add</button>
        </form>
    </div>
    <img th:src="@{/images/add-document.png}" alt="">
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>