<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style-index.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style-add-appointment.css}">


    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <title>DocHero</title>
</head>
<body>

<header th:replace="~{fragments/commons::header}"></header>
<div id="super-register-div">
    <div id="main-register-div">
        <div id="inner-divs">
            <form id="first-div" th:object="${appointmentAddDTO}" th:method="POST" th:action="@{/appointment/add/{id}(id = ${patient.id})}">

                <h1>Appointment data:</h1>
                <div class="inside-div">
                    <label for="date-visit">Visit Date:</label>
                    <input th:name="visitDate" th:field="*{visitDate}" type="date" id="date-visit">

                    <label for="time">Hour:</label>
                    <input th:name="hour" th:field="*{hour}" type="time" id="time">

                    <label for="diagnosis">Diagnosis:</label>
                    <input th:name="diagnosis" th:field="*{diagnosis}" type="text" id="diagnosis">

                    <label for="diagnosis-desc">Symptoms:</label>
                    <textarea th:name="symptoms" th:field="*{symptoms}" style="height: 70px;" id="diagnosis-desc"></textarea>

                    <label for="treatment-type">Treatment type:</label>
                    <select th:name="treatmentType" th:field="*{treatmentType}" id="treatment-type">
                        <option value="">Select</option>
                        <option value="HOME">Home</option>
                        <option value="HOSPITAL">Hospital</option>
                    </select>

                    <label for="medicine">Prescribed medicine:</label>
                    <textarea th:name="prescription" th:field="*{prescription}" style="height: 70px;" id="medicine"></textarea>

                    <label id="label-check" for="checkbox">My patient is a worker</label>
                    <input th:name="isPatientWoker" th:field="*{patientWorker}" id="checkbox" type="checkbox">

                </div>



                <button type="submit">Add</button>
            </form>
            <img th:src="@{/images/appointment-img.png}" alt="">

        </div>


    </div>
    <!-- <img src="images\add-appointment.png" class="register-img" alt=""> -->

</div>
<footer th:replace="~{fragments/commons::footer}"></footer>

`

</body>
</html>