<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style-index.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style-appointment-info.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <title>DocHero</title>
</head>

<header th:replace="~{fragments/commons::header}"></header>
<main>
    <div id="info" th:object="${appointment}">
        <h2>Patient: </h2>
        <h2 th:text="${appointment.patient.firstName + ' ' + appointment.patient.surname + ' ' + appointment.patient.lastName}"></h2>
        <h2>Visit Date:</h2>
        <h2 th:text="${#temporals.format(appointment.visitDate, 'dd.MM.yyyy')}"></h2>
        <h2>Hour: </h2>
        <h2 th:text="${#temporals.format(appointment.hour, 'HH:mm')}"></h2>
        <h2>Symptoms: </h2>
        <h2 th:text="${appointment.symptoms}"></h2>
        <h2>Diagnosis:</h2>
        <h2 th:text="${appointment.diagnosis}"></h2>
        <h2>Treatment type:</h2>
        <h2 th:text="${appointment.treatmentType.name()}">Treatment type:</h2>
        <h2>Prescription: </h2>
        <h2 th:text="${appointment.prescription}">Prescription</h2>
        <h2>Sickness leave document:</h2>
        <h2 th:if="${appointment.sicknessLeaveDocument != null}" th:text="Yes"></h2>
        <h2 th:if="${appointment.sicknessLeaveDocument == null}" th:text="No"></h2>

    </div>
    <div id="info2">
        <img th:src="@{/images/appointment-info.png}" alt="">

    </div>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>

<body>

</body>
</html>