<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/style-index.css}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" th:href="@{/css/style-home.css}">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
        <title>DocHero</title>
    </head>
</head>
<body>
<header th:replace="~{fragments/commons::header}"></header>


<section id="admin-section" sec:authorize="hasRole('ADMIN')">
    <h2 sec:authentication="">Manage website</h2>
    <h3>Approve waiting registrations</h3>
    <div id="approval-div">
        <div id="approve-register-card" th:each="user: ${userRepository.findByApprovedFalse()}">
            <div id="card-names">
                <h3 th:text="${user.firstName}"></h3>
                <h3 th:text="${user.surname}"></h3>
                <h3 th:text="${user.lastName}"></h3>
            </div>
            <div id="card-more-info">
                <h3 th:text="${user.phone}"></h3>
                <h3 th:text="${user.address}"></h3>
                <h3 th:text="${user.email}"></h3>
            </div>
            <div>
                <form th:method="POST" th:action="@{/user/approve/{id}(id = ${user.id})}">
                    <button type="submit" id="approve-button">Approve</button>
                </form>
                <form th:method="POST" th:action="@{/user/deny/{id}(id = ${user.id})}">
                    <button type="submit" id="deny-button">Deny</button>
                </form>
            </div>
        </div>
    </div>
    <a>See all doctors registrations</a>
    <a>See all patient registrations</a>
    <a>See other administrators</a>
</section>


<section sec:authorize="hasRole('USER')" id="user-section">
    <div th:unless=" ${user.approved}" id="not-approved-user">
        <h1 th:text="'Welcome, ' + ${user.firstName} +' ' + ${user.lastName}"></h1>
        <h2>Your registration is waiting for approval from our administrators!</h2>
        <h2>You are not able to add patients!</h2>
    </div>

    <div id="add-patient-button-div">
        <a id="add-patient-button" th:href="@{/patient/add}"><i class="fa-solid fa-plus"></i> Add patient</a>
    </div>

    <div th:if="${user.approved}" id="approved-user">
        <div id="my-patients-heading">
            <h2>My patients:</h2>
        </div>

        <div class="patient-cards">
            <div th:each="patient: ${user.patients}" th:object="${patient}" class="patient-card">
                <div id="info-div">
                    <div>
                        <h3 th:text="${patient.firstName}"></h3>
                        <h3 th:text="${patient.surname}"></h3>
                        <h3 th:text="${patient.lastName}"></h3>
                    </div>
                    <div>
                        <h3 th:text="'Id: ' + ${patient.egn}"></h3>
                        <h3 th:text="'Date of birth:v' + ${patient.birthday}"></h3>
                    </div>
                </div>
                <a id="open-profile-button" th:href="@{/patient/{id}(id= *{id})}">Open profile</a>
                <a th:href="@{/test/add/{id}(id=${patient.id})}">Order test</a>
                <a th:href="@{/appointment/add/{id}(id = *{id})}">Add appointment</a>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>