<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" th:href="@{/css/style-index.css}">
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
          <link rel="stylesheet" th:href="@{/css/style-home.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
        <title>DocHero</title>
    </head>
</head>
<body>
<header th:replace="~{fragments/commons::header}"></header>
        <section th:object="${@currentUser}">
            <a th:href="@{/patient/add}">Add patient</a>
            <h2>My patients:</h2>
            <div id="patient-cards">
            <div th:each="patient: ${@currentUser.getDoctor().getPatients()}" class="patient-card">
                <h3 th:text="${patient.firstName}"></h3>
                <h3 th:text="${patient.surname}"></h3>
                <h3 th:text="${patient.lastName}"></h3>

                <h3>Weight:</h3>
            </div>
        </div>
        </section>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>