<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/style-index.css}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" th:href="@{/css/style-home.css}">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
        <title>DocHero</title>
    </head>
</head>
<body>
<header th:replace="~{fragments/commons::header}"></header>
<section id="admin-section" sec:authorize="hasRole('ADMIN')">
<!--    <div id="admin-heading">-->
<!--        <div id="manage-heading">-->
<!--            <h4>Manage DocNote</h4>-->
<!--            <h5> As an admin you can:</h5>-->
<!--            <h6><i class="fa-solid fa-circle-check"></i> Approve doctor registrations</h6>-->
<!--            <h6><i class="fa-solid fa-circle-check"></i> Add other admins</h6>-->
<!--            <h6><i class="fa-solid fa-circle-check"></i> Remove doctors from the website</h6>-->
<!--        </div>-->
<!--        <div>-->
<!--            <img id="admin-img" th:src="@{/images/admin-page.png}">-->
<!--        </div>-->
<!--    </div>-->

    <div id="approval-div">

<!--        <div id="approve-register-card" th:each="user: ${userRepository.findByApprovedFalse()}">-->
<!--            <div class="block-info">-->
<!--                <i class="fa-solid fa-user-doctor"></i>-->
<!--                <h3 th:text="${user.firstName}"></h3>-->
<!--                <h3 th:text="${user.lastName}"></h3>-->
<!--            </div>-->
<!--            <div class="block-info">-->
<!--                <h3><i class="fa-solid fa-id-card"></i>Id:</h3>-->
<!--                <h3 th:text="${user.egn}"></h3>-->
<!--            </div>-->
<!--            <div class="block-info">-->
<!--                <h3><i class="fa-solid fa-location-dot"></i></h3>-->
<!--                <h3 th:text="${user.address}"></h3>-->
<!--            </div>-->
<!--            <div class="block-info">-->
<!--                <h3><i class="fa-solid fa-envelope"></i></h3>-->
<!--                <h3 th:text="${user.email}"></h3>-->
<!--            </div>-->
<!--            <form class="button-form" th:method="POST" th:action="@{/user/approve/{id}(id = ${user.id})}">-->
<!--                <button type="submit" id="approve-button">Approve</button>-->
<!--            </form>-->
<!--            <form class="button-form" th:method="POST" th:action="@{/user/deny/{id}(id = ${user.id})}">-->
<!--                <button type="submit" id="deny-button">Deny</button>-->
<!--            </form>-->
<!--        </div>-->

        <div>


        </div>


    </div>

</section>


<section sec:authorize="hasRole('USER')" id="user-section">
    <div id="main-error">
        <div th:unless=" ${user.approved}" id="not-approved-user">
            <h1 th:text="'Welcome, ' + ${user.firstName} +' ' + ${user.lastName} +'!'"></h1>
            <h2>Your registration is waiting for approval from our administrators!</h2>
            <h2>You are not able to add patients!</h2>
        </div>
    </div>


    <div id="add-patient-button-div">
        <a th:if="${user.approved}" id="add-patient-button" th:href="@{/patient/add}"><i class="fa-solid fa-plus"></i>
            Add patient</a>
    </div>

    <div th:if="${user.approved}" id="approved-user">
        <div id="my-patients-heading">
            <h2>My patients:</h2>
        </div>

        <div class="patient-cards">
            <div th:each="patient: ${user.patients}" th:object="${patient}" class="patient-card">
                <div id="info-div">
                    <div>
                        <h3 th:text="${patient.firstName}"></h3>
                        <h3 th:text="${patient.surname}"></h3>
                        <h3 th:text="${patient.lastName}"></h3>
                    </div>
                    <div>
                        <div>
                            <i class="fa-solid fa-ruler-vertical"></i>
                            <h3 class="info-h" th:text="${patient.height} + ' cm'"></h3>
                        </div>
                        <div>
                            <i class="fa-solid fa-weight-scale"></i>
                            <h3 class="info-h" th:text="${patient.weight} + ' kg'"></h3>
                        </div>

                    </div>
                    <div>
                        <div>
                            <i class="fa-solid fa-id-card"></i>
                            <h3 class="info-h" th:text="${patient.egn}"></h3>
                        </div>
                        <div>
                            <i class="fa-regular fa-calendar"></i>
                            <h3 class="info-h" th:text="${patient.birthday}"></h3>
                        </div>
                    </div>
                </div>
                <div id="patient-buttons-div">
                    <a class="card-button" id="open-profile-button" th:href="@{/patient/{id}(id= ${patient.id})}"><i
                            class="fa-solid fa-user"></i> Open profile</a>
                    <a class="card-button" id="order-test-button" th:href="@{/test/add/{id}(id=${patient.id})}"><i
                            class="fa-solid fa-vial-virus"></i> Order test</a>
                    <a class="card-button" id="add-appointment-button"
                       th:href="@{/appointment/add/{id}(id = ${patient.id})}"><i
                            class="fa-solid fa-plus"></i> Add appointment</a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>