<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" th:href="@{/css/style-index.css}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <title>DocHero</title>
</head>
<body>
<header th:replace="~{fragments/commons::header}"></header>
    <div id="super-div">
        <div id="main-div">
            <div id="headers-div">
            <h1>Welcome to DocNote!</h1>
            <h3>Make your daily work easier!</h3>
        </div>
        </div>
        <img id="main-img" th:src="@{/images/main.png}" alt="Doctor image">
    </div>
<footer th:replace="~{fragments/commons::footer}"></footer>
    


</body>
</html>
