<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" th:href="@{/css/style-index.css}">
          <link rel="stylesheet" th:href="@{/css/style-register.css}">
            <link rel="stylesheet" th:href="@{/css/style-login.css}">

          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/responsive/commons-responsive.css}">
        <link rel="stylesheet" th:href="@{/css/responsive/login-responsive.css}">
        <title>DocHero</title>
    </head>
<body>
<header  th:replace="~{fragments/commons::header}"></header>
        <div id="super-register-div" >
            <img th:src="@{/images/login-img.png}" class="register-img" alt="">
        <div id="main-register-div">
           
            <form th:method="POST" th:action="@{/user/login}" id="login-form">
                <h1>Login</h1>
                <label for="email">Email or username:</label>
                <input th:name="emailOrUsername"  type="text" id="email" placeholder="Enter email or username">
                <label id="password-label" for="password">Password:</label>
                <input th:name="password"  type="password" id="password" placeholder="Enter password">
                <small id="invalid-login" th:if="${invalidLogin}">Invalid email or password</small>
                <button type="submit" id="login-button-form">Login</button>
            </form>
        </div>
       
    </div>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>