<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style-index.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style-home.css}">
    <link rel="stylesheet" th:href="@{/css/style-admins.css}">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/responsive/commons-responsive.css}">
    <title>DocHero</title>
</head>
<body>
<main>
    <header th:replace="~{fragments/commons::header}"></header>
    <h2 id="successfully-added-admin" th:if="${addedAdmin}">Successfully added admin!</h2>
    <h2 id="successfully-removed-user" th:if="${removedUser}">Successfully removed user!</h2>

    <h2>Doctors:</h2>
    <section>

        <div id="admin-card" th:each="doctor: ${notAdmins}">
            <div class="inside-info">
                <i class="fa-solid fa-user-gear"></i>
                <h3 th:text="${doctor.firstName}"></h3>
                <h3 th:text="${doctor.surname}"></h3>
                <h3 th:text="${doctor.lastName}"></h3>
            </div>
            <div class="inside-info">
                <h3 th:text="'Username: ' + ${doctor.username}"></h3>
                <br>
                <h3 th:text="'Id: ' + ${doctor.egn}"></h3>

                <div class="inside-info" id="form">
                    <form th:method="POST" th:action="@{/manage-website/add-admin/{id}(id= ${doctor.id})}">
                        <button id="add-as-admin-button" type="submit">Add as
                            admin
                        </button>
                    </form>
                    <form th:method="POST" th:action="@{/manage-website/remove-user/{id}(id=${doctor.id})}">
                        <button id="disabled-button"  type="submit">
                            Remove from database
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </section>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>

</body>
</html>